.Wrapper {
    display: flex;
    flex-direction: column;
    min-height: 80vh;
}

.ProductList {
    min-height: 85vh;
    justify-content: space-between;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    // gap: 10px;
    // grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.Pagination {
    margin: 20px auto;

}

.HidenDiv {
    width: 100%;
    height: 20px;
    background-color: red;
}

@media(max-width:1500px) {
    .ProductList {
        min-height: 85vh;
        justify-content: space-between;
        display: grid;
        grid-template-columns: auto auto auto auto;
    }
}

@media(max-width:1000px) {
    .ProductList {
        min-height: 85vh;
        justify-content: space-between;
        display: grid;
        grid-template-columns: auto auto auto;
    }
}

@media(max-width:550px) {
    .ProductList {
        min-height: 85vh;
        justify-content: space-around;
        display: grid;
        grid-template-columns: auto auto;
    }
}
