.Card {
    width: auto;
    height: 260px;
    max-height: 260px;
    margin: 10px;
    border-radius: 15px;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
