.Currency {
    position: relative;

    &>span {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 7px;
        cursor: pointer;
    }


    &>ul {
        width: 100%;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
        position: absolute;
        background-color: white;
        z-index: 1;
    }
}
